/* Body styling */
body {
    background-image: url("images/paper2.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /*background: #713e94;*/
    color: rgb(60,61,71);
    /*font-family: Helvetica, Arial;*/
    /*font-size: 27px;*/
    /*font-weight: 300;*/
    line-height: 1.65em;
    margin: 0 auto;
    max-width: 960px;
    padding: 40px 10px;
}


/* Heading Styles */
h1 {
    font-family: "culdesac";
    font-size: 250px;
    color: rgb(60,61,71);
    text-align: center;
    font-weight: normal;
   margin-top: 110px;
}


/* Game Directions */
.description {
    font-size: 50px;
    font-family: "pencilpete";
    text-align: center;
    margin: 80px auto 40px;
    color: rgb(60,61,71);
}


/* Submit Button, Columns, Questions, and Inputs */
.button-submit {
    background: transparent;
    border: none;
    /*border-radius: 6px;*/
    color: rgb(60,61,71);
    cursor: pointer;
    display: block;
    font-size: 50px;
    font-weight: bold;
    margin: 0 auto 60px;
    padding: 1em 2em;
    text-align: center;
    font-family: "pencilpete";
}

.bucket {
    display: inline-block;
    margin-bottom: 40px;
    width: 100%;
}

.choice-bucket {
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0;
    width: 33.333333%;
}

.choice-bucket label {
    font-size: 12px;
    line-height: 13px;
    margin: 15px 4%;
}

.choice-bucket input {
    border: 3px solid rgb(60,61,71);
    /*border-radius: 6px;*/
    border-top-style: hidden;
    border-right-style: hidden;
    /*border-bottom-style: 2px solid black;*/
    border-left-style: hidden;
    background: transparent;
    color: rgb(60,61,71);
    font-size: 25px;
    margin: 15px 4%;
    outline: 0;
    padding: 16px 0;
    text-indent: 20px;
    width: 92%;
    font-family: "pencilpete";
}

.choice-bucket label ~ input {
    margin-top: 0;
}

.highlight {
    line-height: 40px;
    margin-left: 30px;
    opacity: .8;
    font-family: "pencilpete";
    font-size: 35px;
}



/* Answer Div */
#answers {
    margin: 60px 0;
    /*background: #fff;*/
    border-radius: 6px;
    color: rgb(60,61,71);
    font-family: "pencilpete";
    font-size: 35px;
    transition: 1s linear;
    line-height: 50px;
}

#answers p {
    max-width: 760px;
    margin: auto;
    padding: 20px 0;
}

#answers p span {
    font-weight: bold;
}


.hide {
    opacity: 0;
    height: 0;
}

.show {
    opacity: 1;
    height: 100%;
}

a{
    text-decoration: none;
}

/*fonts*/
@font-face {
    font-family: "pencilpete";
    src: url('fonts/PencilpeteFont-2eE3.ttf');
}
@font-face {
    font-family: "culdesac";
    src: url('fonts/DkCulDeSac-XRJ2.ttf');
}