/* Body styling */
body {
    background-image: url("images/paper2.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /*background: #713e94;*/
    color: black;
    /*font-family: Helvetica, Arial;*/
    /*font-size: 27px;*/
    /*font-weight: 300;*/
    line-height: 1.65em;
    margin: 0 auto;
    max-width: 960px;
    padding: 40px 10px;
}


/* Heading Styles */
h1 {
    font-family: "DK Cul De Sac";
    font-size: 200px;
    color: black;
    text-align: center;
}


/* Game Directions */
.description {
    font-size: 40px;
    font-family: "DK Keswick";
    text-align: center;
    margin: 80px auto 40px;
}


/* Submit Button, Columns, Questions, and Inputs */
.button-submit {
    background: transparent;
    border: none;
    /*border-radius: 6px;*/
    color: black;
    cursor: pointer;
    display: block;
    font-size: 30px;
    font-weight: bold;
    margin: 0 auto 60px;
    padding: 1em 2em;
    text-align: center;
    font-family: "DK Keswick";
}

.bucket {
    display: inline-block;
    margin-bottom: 40px;
    width: 100%;
}

.choice-bucket {
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0;
    width: 33.333333%;
}

.choice-bucket label {
    font-size: 12px;
    line-height: 13px;
    margin: 15px 4%;
}

.choice-bucket input {
    border: 1px solid black;
    border-radius: 6px;
    background: transparent;
    color: black;
    font-size: 18px;
    margin: 15px 4%;
    outline: 0;
    padding: 16px 0;
    text-indent: 20px;
    width: 92%;
    font-family: "DK Keswick";
}

.choice-bucket label ~ input {
    margin-top: 0;
}

.highlight {
    line-height: 24px;
    margin-left: 30px;
    opacity: .8;
    font-family: "DK Keswick";
    font-size: 25px;
}



/* Answer Div */
#answers {
    margin: 60px 0;
    background: #fff;
    border-radius: 6px;
    color: black;
    font-family: "DK Keswick";
    font-size: 25px;
    transition: 1s linear;
}

#answers p {
    max-width: 760px;
    margin: auto;
    padding: 20px 0;
}

#answers p span {
    font-weight: bold;
}


.hide {
    opacity: 0;
    height: 0;
}

.show {
    opacity: 1;
    height: 100%;
}